#flight-map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .view-button {
    position: absolute !important;
    z-index: 99;
    top: 20px;
    right: 8px;
    padding: 4px 8px;
    border: 0;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--map-ui-color);
  }
}
