h1 {
  margin: 0;
  padding: 16px 24px;
  font-weight: normal;
}

#data-overlay {
  margin: 0 2vw;
  position: relative;
  top: -32px;
  z-index: 9999;
  background: var(--body-background-color);
  box-shadow: 5px 5px 15px var(--box-shadow-color);
}

.stats {
  margin: 0;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  dt {
    font-size: 70%;
    text-transform: uppercase;
  }
  dd {
    margin: 0;
    margin-top: 8px;
  }
  ul {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    list-style-type: none;
  }
  li {
    line-height: 24px;
  }
  img {
    width: 16px;
    position: relative;
    top: 2px;
  }
}
.stats.countup dd {
  font-size: 175%;
}
.stats.countup .item {
  min-width: 10%;
}
.stats.charts .item {
  min-width: 24%;
}

#filter {
  position: sticky;
  top: 0;
  width: calc(100% - 16px);
  min-width: calc(1400px - 16px);
  height: 30px;
  padding: 8px 0 8px 16px;
  border: 0;
  z-index: 99;
  background-color: var(--accent-background-color);
  color: var(--font-color);
}
#filter:focus {
  outline: none !important;
}

#flight-log {
  width: 100%;
  min-width: 1400px;

  th {
    position: sticky;
    top: 46px;
    background: var(--body-background-color);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 75%;
    text-align: left;
    z-index: 99;
  }

  th,
  td {
    height: 30px;
    padding: 8px;
    border-bottom: 1px solid var(--table-border-color);
  }

  .seats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      margin-top: -8px;
    }
  }

  .seatNum {
    min-width: 3ch;
    text-align: center;
  }

  img {
    position: relative;
    top: 4px;
    width: 20px;
  }

  img.airline {
    margin-right: 6px;
  }

  img.seatPos {
    width: 16px;
  }

  .badge {
    color: white;
    font-weight: bold;
    background-color: var(--eco-plus-class-color);
    border-radius: 4px;
    padding: 0 4px;
    font-size: 70%;
  }

  .badge-F {
    background-color: var(--first-class-color);
  }

  .badge-P {
    background-color: var(--premium-class-color);
  }

  .badge-E {
    background-color: var(--economy-class-color);
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 180%;
  }

  .stats {
    flex-wrap: wrap;
    justify-content: left;
    gap: 24px;
  }
  .stats.countup .item {
    min-width: 42% !important;
  }
  .stats.charts .item {
    min-width: 42% !important;
  }

  .countup {
    padding-bottom: 0;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  img.seatPos {
    filter: invert(0.5);
  }
}

.sliding-content {
  position: relative;
  will-change: transform;
  transform: translateZ(0);
}
