h1 {
  position: fixed;
  top: -8px;
  left: 16px;
  z-index: 1;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#content {
  position: relative;
  top: 75vh;
  z-index: 10;
}

#sliding-content {
  position: relative;
  will-change: transform;
  transform: translateZ(0);
}

#data-card {
  margin: 2vw;
  background: var(--body-background-color);
  box-shadow: 5px 5px 15px var(--box-shadow-color);

  .stats {
    margin: 0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    dt {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
    dd {
      margin: 0;
      margin-top: 8px;
    }
    ul {
      margin: 0;
      margin-top: 8px;
      padding: 0;
      list-style-type: none;
    }
    li {
      line-height: 24px;
    }
    img {
      width: 16px;
      position: relative;
      top: 2px;
    }
  }
  .stats.numbers {
    dd {
      font-size: 1.75rem;
      font-weight: 400;
    }
    .item {
      min-width: 10%;
    }
    section {
      justify-content: flex-start !important;
    }
  }
  .stats.numbers .stats.charts .item {
    min-width: 24%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow-y: scroll;
  background: var(--bar-chart-color);

  button {
    margin: 0 4px;
    padding: 4px 8px;
    border: 0;
    border-radius: 4px;
    background: transparent;
    color: var(--font-color);
    text-align: center;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  button.active {
    background: var(--body-background-color);
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  #content {
    top: 70vh;
  }

  #data-card {
    .stats {
      flex-wrap: wrap;
      justify-content: left;
      gap: 24px;
    }

    .stats.numbers .item {
      min-width: 42% !important;
    }

    .stats.charts .item {
      min-width: 100% !important;
    }

    .numbers {
      padding-bottom: 0;
    }
  }

  .nav {
    justify-content: flex-start;
  }
}
