@import '../node_modules/normalize-css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* light mode */
:root {
    --font-color: #000;
    --body-background-color: #fff;
    --accent-background-color: #eee;
    --box-shadow-color: #ccc;
    --table-border-color: #ccc;
    --sparkline-color: #ddd;
  }

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --body-background-color: #1f1f1f;
    --accent-background-color: #181818;
    --box-shadow-color: #111;
    --table-border-color: #000;
    --sparkline-color: #444;
  }
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    overflow-x: hidden;
    color: var(--font-color);
    background-color: var(--body-background-color);
}