.inline-bar-container {
  display: inline-flex;
  align-items: center;
}

.inline-bar {
  height: 12px;
  background-color: var(--bar-chart-color);
  width: 0;
  transition: width 1s ease-in-out;
  display: inline-block;
  margin: 0 8px;
}

.inline-number {
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out;
  display: inline-block;
}
